* {
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #422919;
  line-height: 1.6;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2866, 41, 29, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.menu {
  z-index: 3;
  height: 50px;
}

.menu a {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #422919;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: 600;
}

.menu a:hover {
  color: #dd807dc9;
}

.menu .logo img {
  display: none;
}

.logo1 {
  padding: 10px;
}

.logo1 img {
  width: 60px;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.presentacion {
  min-height: 50vh;
  background-image: url(../media/presentacion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.presentacion article {
  width: 40%;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(37, 34, 34, 0.411);
}

.presentacion article div {
  background-color: transparent;
}

.presentacion article h1 {
  font-family: "DM Serif Display", serif;
  color: #fff;
  background-color: transparent;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-family: "DM Serif Display", serif;
  color: #4C7295;
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 600;
}

.historia {
  background-color: #4c729531;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.historia p {
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
}

.historia img {
  background-color: transparent;
  width: 200px;
}

.pedido h3 {
  color: #dd807dc9;
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item h4 {
  color: #422919;
  text-align: center;
}

.item img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.item img:hover {
  opacity: 1;
}

.item-info img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.item-info img:hover {
  opacity: 1;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formLogin {
  margin-top: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 1rem;
  font-size: 1.2rem;
  border-width: 1px;
}

.form-control {
  width: 304px;
  height: 150px;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: 2px;
  resize: none;
}

.formLogin-1 {
  padding: 10px;
  width: 250px;
  border-radius: 1rem;
  font-size: 1.2rem;
  border-width: 1px;
}

.newsletterForm, .newsletterFormNombre {
  padding: 10px;
  width: 250px;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: 1px;
  border-width: 1px;
}

.btn-primary {
  background-color: #dd807dc9;
  width: 100px;
  font-size: 1.2rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #4C7295;
  border-color: #4C7295;
  width: 100px;
  font-size: 1.2rem;
}

.enviar {
  border-radius: .5rem;
  color: #422919;
  background-color: #dd807dc9;
  width: 90px;
  font-size: 1rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 8px;
  margin-top: 10px;
  border: none;
}

.enviar:hover {
  background-color: #4C7295;
  border-color: #4C7295;
  font-size: 1rem;
}

.todoContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.contactoTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

.linksContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bi {
  color: #422919;
  font-size: 1.8rem;
  background-color: #830fd11e;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.5rem;
  margin-left: 10px;
}

.btn {
  color: #422919;
  font-weight: 600;
  background-color: #dd807dc9;
  border: none;
  font-size: 1rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-top: 10px;
}

.btn:hover {
  color: #fff;
  background-color: #4C7295;
  border-color: #4C7295;
  font-size: 1rem;
}

.btn:focus {
  color: #E48C89;
  background-color: #422919;
  border-color: #422919;
  font-size: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn1 {
  border-radius: 0.25rem;
  text-align: center;
  color: #422919;
  background-color: #422919;
  border-color: #422919;
  width: 80px;
  font-size: 1.5rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btn1:hover {
  background-color: #4C7295;
  border-color: #4C7295;
}

.gustos {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.elegidosTitulo {
  text-align: center;
}

.elegidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.elegido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elegido img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  opacity: 0.8;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.elegido img:hover {
  opacity: 1;
}

.elegido .btn {
  width: 200px;
}

.ProductosBotonTodos h4 {
  text-align: center;
}

ul {
  padding-left: 0px;
}

.cart {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #4c72952a;
  border-radius: 0.8rem;
  border: solid #e48c898f;
  border-width: 0px 5px 5px 0px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.cart p {
  background-color: transparent;
}

.cart h4 {
  background-color: transparent;
}

.cart h2 {
  background-color: transparent;
}

.cart div {
  background-color: transparent;
}

.cart h3 {
  background-color: transparent;
}

.cart-header {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.cart-item div {
  background-color: transparent;
}

.cart-item .item-info {
  width: 120px;
}

.subtotal {
  text-align: center;
}

.units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.subtotal, .cart-footer, .cart-items, .cart-header {
  background-color: transparent;
}

.swal2-icon.swal2-success .swal2-success-ring .swal2-x-mark .swal2-icon-content {
  background-color: transparent;
}

.unit-price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-width: 600px) {
  .menu {
    z-index: 3;
    height: 80px;
  }
  .menu a {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #422919;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .menu a:hover {
    color: #dd807dc9;
  }
  .menu .logo img {
    display: none;
  }
  .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  .logo1 img {
    width: 80px;
  }
  .presentacion {
    min-height: 50vh;
    background-image: url(../media/presentacion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .presentacion article {
    width: 40%;
    min-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: rgba(37, 34, 34, 0.411);
  }
  .presentacion article div {
    background-color: transparent;
  }
  .presentacion article h1 {
    font-family: "DM Serif Display", serif;
    color: #fff;
    background-color: transparent;
  }
  h2 {
    text-align: center;
    font-family: "DM Serif Display", serif;
    color: #4C7295;
    font-size: 2rem;
    margin-top: 20px;
  }
  .historia {
    background-color: #4c729531;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .historia p {
    background-color: transparent;
    font-size: 1.2rem;
    width: 500px;
  }
  .historia img {
    background-color: transparent;
    width: 200px;
  }
  .pedido h3 {
    color: #dd807dc9;
    font-family: "DM Serif Display", serif;
    text-align: center;
  }
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .item {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item h4 {
    color: #422919;
    text-align: center;
  }
  .item img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .item-info img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
    opacity: 0.8;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .item-info img:hover {
    opacity: 1;
  }
  .forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formLogin {
    padding: 10px;
    width: 300px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
  }
  .form-control {
    width: 304px;
    height: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    resize: none;
  }
  .formLogin-1 {
    padding: 10px;
    width: 250px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
  }
  .newsletterForm, .newsletterFormNombre {
    padding: 5px;
    width: 200px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 1px;
    border-width: 1px;
  }
  .todoContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contactoTexto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
  }
  .linksContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bi {
    color: #422919;
    font-size: 1.8rem;
    background-color: #830fd11e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.5rem;
    margin-left: 10px;
  }
  .gustos {
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .bi {
    font-size: 1.5rem;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0.5rem;
    margin-left: 10px;
  }
  .elegidos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .elegido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elegido img {
    width: 200px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .elegido img:hover {
    opacity: 1;
  }
  .productsAll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cart {
    margin: 20px;
    display: inline-block;
    width: 100vw;
    background-color: #4c72952a;
    border-radius: 0.8rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .cart p {
    background-color: transparent;
  }
  .cart h4 {
    background-color: transparent;
  }
  .cart h2 {
    background-color: transparent;
  }
  .cart div {
    background-color: transparent;
  }
  .cart h3 {
    background-color: transparent;
  }
  .subtotal, .cart-footer, .cart-items, .cart-header {
    background-color: transparent;
  }
  .cart-header {
    font-size: 2rem;
  }
  .cart-header, .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .subtotal {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    height: 100px;
  }
  .menu a {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    color: #422919;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .menu a:hover {
    color: #dd807dc9;
  }
  .menu .logo img {
    background-color: transparent;
    width: 150px;
    display: block;
  }
  .logo1 {
    display: none;
  }
  .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  .navbar-nav li {
    padding-left: 70px;
    padding-right: 70px;
  }
  .presentacion {
    min-height: 100vh;
    background-image: url(../media/presentacion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .presentacion article {
    width: 30%;
    min-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: rgba(37, 34, 34, 0.411);
    margin-right: 50px;
  }
  .presentacion article div {
    background-color: transparent;
  }
  .presentacion article h1 {
    font-family: "DM Serif Display", serif;
    color: #fff;
    background-color: transparent;
    font-size: 3rem;
  }
  h2 {
    text-align: center;
    font-family: "DM Serif Display", serif;
    color: #4C7295;
    font-size: 2.5rem;
    margin-top: 30px;
  }
  .historia {
    background-color: #4c729531;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .historia p {
    background-color: transparent;
    font-size: 1.5rem;
    width: 600px;
  }
  .historia img {
    background-color: transparent;
  }
  .pedido h3 {
    color: #dd807dc9;
    font-family: "DM Serif Display", serif;
    text-align: center;
  }
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .item {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item h4 {
    width: 200px;
    color: #422919;
    text-align: center;
  }
  .item img {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .item-info img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .item-info img:hover {
    opacity: 1;
  }
  .forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formLogin {
    padding: 10px;
    width: 300px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
  }
  .form-control {
    width: 304px;
    height: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    resize: none;
  }
  .formLogin-1 {
    padding: 10px;
    width: 250px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
  }
  .newsletterForm, .newsletterFormNombre {
    padding: 3px;
    width: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 1px;
    border-width: 1px;
  }
  .todoContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contactoTexto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
  }
  .linksContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer {
    border-top: solid #dd807dc9;
    padding-top: 30px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .bi {
    font-size: 1.5rem;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0.5rem;
    margin-left: 10px;
  }
  .bi {
    color: #422919;
    font-size: 1.8rem;
    background-color: #830fd11e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.5rem;
    margin-left: 10px;
  }
  .gustos {
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cart-header {
    font-size: 2rem;
  }
  .cart-header, .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .subtotal {
    text-align: center;
  }
  .elegidos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .elegido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elegido img {
    width: 400px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .elegido img:hover {
    opacity: 1;
  }
  .productsAll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cart {
    margin: 20px;
    display: inline-block;
    width: 100vw;
    background-color: #4c72952a;
    border-radius: 0.8rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .cart p {
    background-color: transparent;
  }
  .cart h4 {
    background-color: transparent;
  }
  .cart h2 {
    background-color: transparent;
  }
  .cart div {
    background-color: transparent;
  }
  .cart h3 {
    background-color: transparent;
  }
  .subtotal, .cart-footer, .cart-items, .cart-header {
    background-color: transparent;
  }
}

.container-fluid {
  padding: 0px;
}
