* {
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #422919;
  line-height: 1.6;
  background-color: white;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #4C7295;
  height: 180px;
}

.menu a {
  font-size: 1.5rem;
  font-family: "Vollkorn", serif;
  color: #422919;
}

.menu a:hover {
  color: #E48C89;
}

.menu .logo img {
  height: 150px;
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentacion img {
  position: relative;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentacion h1 {
  text-align: right;
  width: 400px;
  z-index: 2;
  background-color: transparent;
  position: absolute;
  top: 300px;
  left: 900px;
  font-size: 5rem;
  font-family: "Vollkorn", serif;
}

h2 {
  text-align: center;
  font-family: "Vollkorn", serif;
  color: #4C7295;
  font-size: 2.5rem;
  margin-top: 30px;
}

.historia {
  background-color: #4c729531;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.historia p {
  background-color: transparent;
  font-size: 1.5rem;
  width: 600px;
}

.historia img {
  background-color: transparent;
}

.pedido {
  margin: 80px;
}

.pedido h3 {
  color: #E48C89;
  font-family: "Vollkorn", serif;
}

.tortas, .desayunos, .unidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto h4 {
  color: #422919;
  text-align: center;
}

.producto img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.formLogin {
  padding: 10px;
  width: 150px;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: 2px;
  border-width: 1px;
}

.form-control {
  width: 304px;
  height: 150px;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: 2px;
  resize: none;
}

.btn-primary {
  background-color: #422919;
  border-color: #422919;
  width: 100px;
  font-size: 1.2rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #4C7295;
  border-color: #4C7295;
  width: 100px;
  font-size: 1.2rem;
}

.todoContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactoTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

.linksContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bi {
  color: #422919;
  font-size: 1.8rem;
  background-color: #830fd11e;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.5rem;
  margin-left: 10px;
}

.btn {
  color: #E48C89;
  background-color: #422919;
  border-color: #422919;
  width: 200px;
  font-size: 1rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-top: 10px;
}

.btn:hover {
  background-color: #4C7295;
  border-color: #4C7295;
  width: 200px;
  font-size: 1rem;
}
