
.menu{
    z-index: 3;
    height: 80px;
    a{
        font-size: 1rem;
        font-family: $font;
        color: $marron;
        transition: all;
        transition-duration: 0.5s;
    &:hover{
        color: $rosa;
    }}
    .logo{
        img{
            display: none;
        }
    }
}
.navbar-nav{
    align-items: center;
    background-color: transparent;
}
.logo1{
    img{
    width: 80px;
    }
}



.presentacion {
    min-height: 50vh;
    background-image: url(../media/presentacion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: end;

}
.presentacion article {
    div{
        background-color: transparent;
    }
    h1{
        font-family: $fonttitulo;
        color: #fff;
        background-color: transparent;
    }
    width: 40%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(37, 34, 34, 0.411);
}

h2{
    text-align: center;
    font-family: $fonttitulo;
    color: $celeste;
    font-size: 2rem;
    margin-top: 20px;
}


.historia{
    background-color: #4c729531;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        background-color: transparent;
        font-size: 1.2rem;
        width: 500px;
    }
    img{
        background-color: transparent;
        width: 200px;
    }
}

.pedido{
    h3{
        color: $rosa;
        font-family: $fonttitulo;
        text-align: center;
    }
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
}
.item{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    h4{
        color: $marron;
        text-align: center;
    }
    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 1rem;
    }
}
.item-info{
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 1rem;
        opacity: 0.8;
        transition-duration: 0.5s;
        &:hover{
            opacity:1;
        }
    }
}

.forms{
    display: flex;
    flex-direction: column;
}
.formLogin{
    padding: 10px;
    width: 300px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
}
.form-control{
    width: 304px;
    height: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    resize: none;
}
.formLogin-1{
    padding: 10px;
    width: 250px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
}
.newsletterForm, .newsletterFormNombre{
    padding: 5px;
    width: 200px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 1px;
    border-width: 1px;
}



.todoContacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contactoTexto{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

}
.linksContacto{
    display: flex;
    flex-direction: row;

}


.bi{
    color: $marron;
    font-size: 1.8rem;
    background-color: #830fd11e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.5rem;
    margin-left: 10px;
}

.gustos{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer{

    .bi{
        font-size: 1.5rem;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 0.5rem;
        margin-left: 10px;
    }
}

.elegidos{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.elegido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 1rem;
        &:hover{
            opacity:1;
        }
    }

}




.productsAll{
    display:flex;
    flex-direction: row;
}

.cart{
    margin: 20px;
    display: inline-block;
    width: 100vw;
    background-color: #4c72952a;
    border-radius: 0.8rem;
    height:min-content;
    p{
        background-color: transparent;
    }
    h4{
        background-color: transparent;
    }
    h2{
        background-color: transparent;
    }
    div{
        background-color: transparent;
    }
    h3{
        background-color: transparent;
    }

}

.subtotal, .cart-footer, .cart-items, .cart-header{
    background-color: transparent;
}

.cart-header{
    font-size: 2rem;
}
.cart-header, .cart-item{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.subtotal{
    text-align: center;
}

