
.menu{
    height: 180px;
    a{
        font-size: 1.5rem;
        font-family: $fonttitulo;
        color: $marron;
        background-color:  #4c729563;
    &:hover{
        color: $rosa;
    }}
    .logo{
        img{
            background-color:transparent;
            height: 150px;
            width: 180px;
            object-fit: cover;
        }
    }
}
.navbar-nav{
    align-items: center;
    background-color: transparent;
}

.navbar-expand-lg .navbar-collapse{
    background-color: #4c729563;
}
.presentacion{
    img { 
        position: relative; 
        width: 100%;
        height: 70vh;
        object-fit: cover;
     }
     
     h1 { 
        text-align: right;
        width: 400px;
        z-index: 2;
        background-color: transparent;
        position:absolute; 
        top: 300px; 
        left: 900px; 
        font-size: 5rem;
        font-family: $fonttitulo;
     }
}

h2{
    text-align: center;
    font-family: $fonttitulo;
    color: $celeste;
    font-size: 2.5rem;
    margin-top: 30px;
}


.historia{
    background-color: #4c729531;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p{
        background-color: transparent;
        font-size: 1.5rem;
        width: 600px;
    }
    img{
        background-color: transparent;
    }
}

.pedido{
    margin: 80px;
    h3{
        color: $rosa;
        font-family: $fonttitulo;
    }
}

.tortas, .desayunos, .unidades {
    display: flex;
    flex-wrap: wrap;
}
.producto{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    h4{
        color: $marron;
        text-align: center;
    }
    img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 1rem;
    }
}


.forms{
    display: flex;
    flex-direction: row;
}
.formLogin{
    padding: 10px;
    width: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
}
.form-control{
    width: 304px;
    height: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    resize: none;
}
.formLogin-1{
    padding: 10px;
    width: 250px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
}
.newsletterForm,  .newsletterFormNombre{
    padding: 5px;
    width: 200px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 1px;
    border-width: 1px;
}

.btn-primary{
    background-color: $marron;
    border-color: $marron;
    width: 100px;
    font-size: 1.2rem;
    transition-duration: 0.5s;
    margin-top: 10px;
    &:hover{
        background-color: $celeste;
        border-color: $celeste;
        width: 100px;
        font-size: 1.2rem;
    }
}


.enviar{
    border-radius: .5rem;
    color: $rosa;
    background-color: $marron;
    border-color: $marron;
    width: 80px;
    font-size: 1rem;
    transition-duration: 0.5s;
    margin-top: 10px;
    &:hover{
        background-color: $celeste;
        border-color: $celeste;
        font-size: 1rem;
    }
}
.todoContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactoTexto{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

}
.linksContacto{
    display: flex;
    flex-direction: row;

}


.bi{
    color: $marron;
    font-size: 1.8rem;
    background-color: #830fd11e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.5rem;
    margin-left: 10px;
}
.btn{
        color: #E48C89;
    background-color: $marron;
    border-color: $marron;
    width: 200px;
    font-size: 1rem;
    transition-duration: 0.5s;
    margin-top: 10px;
    &:hover{
        background-color: $celeste;
        border-color: $celeste;
        width: 200px;
        font-size: 1rem;
    }
}

.gustos{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}