$fonttitulo: 'DM Serif Display', serif;
$font: 'Poppins', sans-serif;
$rosa: #dd807dc9;
$marron: #422919;
$celeste: #4C7295;

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box; 
    font-family: $font;
    color: $marron;
    line-height: 1.6;
    background-color: white;
}
li{
 list-style: none;
}
a{
    text-decoration: none;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2866, 41, 29, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.menu{
    z-index: 3;
    height: 50px;
    a{
        font-size: 1rem;
        font-family: $font;
        color: $marron;
        transition: all;
        transition-duration: 0.5s;
        font-weight: 600;
    &:hover{
        color: $rosa;
    }}
    .logo{
        img{display: none;

        }
    }
}
.logo1{
    padding: 10px;
    img{
    width: 60px;
    }
}
.navbar-nav{
    align-items: center;
    background-color: transparent;
}

.presentacion {
    min-height: 50vh;
    background-image: url(../media/presentacion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: end;

}
.presentacion article {
    div{
        background-color: transparent;
    }
    h1{
        font-family: $fonttitulo;
        color: #fff;
        background-color: transparent;
        font-size: 2rem;
    }
    width: 40%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(37, 34, 34, 0.411);
}




h2{
    text-align: center;
    font-family: $fonttitulo;
    color: $celeste;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 600;
}


.historia{
    background-color: #4c729531;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        background-color: transparent;
        font-size: 1rem;
        text-align: center;
    }
    img{
        background-color: transparent;
        width: 200px;
    }
}





.pedido{
    h3{
        color: $rosa;
        font-family: $fonttitulo;
        text-align: center;
    }
}
.products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.item{
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-weight: 600;
    align-items: center;
    h4{
        color: $marron;
        text-align: center;

    }
    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 1rem;
        opacity: 0.8;
        transition-duration: 0.5s;
        &:hover{
            opacity:1;
        }
    }
}
.item-info{
    img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 1rem;
        opacity: 0.8;
        transition-duration: 0.5s;
        &:hover{
            opacity:1;
        }
    }
}

.forms{
    display: flex;
    flex-direction: column;
}
.formLogin{
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 1rem;
    font-size: 1.2rem;
    border-width: 1px;
}
.form-control{
    width: 304px;
    height: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    resize: none;
}
.formLogin-1{
    padding: 10px;
    width: 250px;
    border-radius: 1rem;
    font-size: 1.2rem;
    border-width: 1px;
}
.newsletterForm, .newsletterFormNombre{
    padding: 10px;
    width: 250px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 1px;
    border-width: 1px;
}

.btn-primary{
    background-color: $rosa;
    width: 100px;
    font-size: 1.2rem;
    transition: all;
    transition-duration: 0.5s;
    margin-top: 10px;
    &:hover{
        background-color: $celeste;
        border-color: $celeste;
        width: 100px;
        font-size: 1.2rem;
    }
}


.enviar{
    border-radius: .5rem;
    color: $marron;
    background-color: $rosa;
    width: 90px;
    font-size: 1rem;
    transition: all;
    transition-duration: 0.5s;
    padding: 8px;
    margin-top: 10px;
    border: none;
    &:hover{
        background-color: $celeste;
        border-color: $celeste;
        font-size: 1rem;
    }
}
.todoContacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.contactoTexto{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

}
.linksContacto{
    display: flex;
    flex-direction: row;

}


.bi{
    color: $marron;
    font-size: 1.8rem;
    background-color: #830fd11e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.5rem;
    margin-left: 10px;
}
.btn{
    color: $marron;
    font-weight: 600;
    background-color: $rosa;
    border: none;
    font-size: 1rem;
    transition: all;
    transition-duration: 0.5s;
    margin-top: 10px;
    &:hover{
        color: #fff;
        background-color: $celeste;
        border-color: $celeste;
        font-size: 1rem;
    }
    &:focus{
        color: #E48C89;
        background-color: $marron;
        border-color: $marron;
        font-size: 1rem;
        box-shadow: none;
    }
    &:active{
        box-shadow: none;
    }
}

.btn1{
    border-radius: 0.25rem;
    text-align: center;
    color: $marron;
    background-color: $marron;
    border-color: $marron;
    width: 80px;
    font-size: 1.5rem;
    transition: all;
    transition-duration: 0.5s;
&:hover{
    background-color: $celeste;
    border-color: $celeste;
}
}
.gustos{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.elegidosTitulo{
    text-align: center;
}

.elegidos{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.elegido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 1rem;
        opacity: 0.8;
        transition-duration: .5s;
        &:hover{
            opacity:1;
        }
    }
    .btn{
        width: 200px;
    }

}
.ProductosBotonTodos{
    h4{
        text-align: center;
    }
}
ul{
    padding-left: 0px;
}







.cart{
    margin-right: 20px;
    margin-left: 20px;
    background-color: #4c72952a;
    border-radius: 0.8rem;
    border: solid #e48c898f;
    border-width: 0px 5px 5px 0px;
    height:min-content;
    p{
        background-color: transparent;
    }
    h4{
        background-color: transparent;
    }
    h2{
        background-color: transparent;
    }
    div{
        background-color: transparent;
    }
    h3{
        background-color: transparent;
    }

}
.cart-header{
    font-size: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.cart-item{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    div{
        background-color: transparent;
    }
    .item-info{
        width: 120px;
    }
}
.subtotal{
    text-align: center;
}
.units{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    justify-content: end;
}
.subtotal, .cart-footer, .cart-items, .cart-header{
    background-color: transparent;
}

.swal2-icon.swal2-success .swal2-success-ring .swal2-x-mark .swal2-icon-content{
    background-color: transparent;
}

.unit-price{
    align-self: center;
}











@media only screen and (min-width: 600px){
    @import "mediatablet";
}
@media only screen and (min-width: 1024px){
    @import "mediadesktop";
}
.container-fluid{
    padding:0px;
}
